.button {
	-fx-background-color: #DFB951;
    -fx-text-fill: #006464;
}

.button:hover {
    -fx-background-color: #f5cd53;
    -fx-text-fill: #008585;
}
#statusPane {
    -fx-background-color: #DFB951;
}
#statusLabel {
    -fx-text-fill: #006464;
}

#ingamebutton {
    -fx-background-color: #DFB951;
    -fx-text-fill: #006464;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-padding: 0;
    -fx-label-padding: 0;

}

#ingamebutton:disabled {
    -fx-background-color: #DFB951;
    -fx-text-fill: #006464;
    -fx-border-color: black;
    -fx-border-width: 0.2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-size: 15;
    -fx-padding: 0;
    -fx-label-padding: 0;
}

